.login-logo {
    padding: 20px 0;
    min-height: 100px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 100px;
  }

  .header1-design{
    font-size: large;
    font-weight: bold;
  }