<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="centered-login">Login</ion-title>
    <!-- <ion-buttons slot="start">
      
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div class="login-logo">
    <img src="assets/logo1.png" alt="Ionic logo"/>
  </div>


  <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.email">
      <div style = 'color: red;' *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input [type]="passwordType" clearOnEdit="false" formControlName="password" class="form-controll" required></ion-input>
      <ion-icon slot = "end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>

    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.password">
        <div style = 'color: red;' *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
          {{ error.message }}
        </div>
    </ng-container>

    <ion-button color = "success" type="submit" expand="block" [disabled]="!userForm.valid">Signin</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>

    <p class="ion-text-center">Not registered? <a (click)="goToSignup()">Register</a></p>
    <!-- <p class="ion-text-center">Forgot Password <a (click)="recover(userForm.value)">Reset</a></p> -->
  </form>
 
</ion-content>