.buttton-design
{
    height: 40px; 
    font-size: large;
}
.label-design
{
    font-weight: bold;
}

.login-logo {
    padding: 20px 0;
    min-height: 100px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 100px;
  }