.centered-registration
{
    text-align: center;
    margin-left: 0%;

}

.passwordIcon{
    font-size:1.5rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }

 
.login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 150px;
  }